h3
{
  font-size: 25px !important;
}
.btn-success:hover
{
  background-color: red;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes example {

from {box-shadow: 1px 1px 38px lightblue;}
to {box-shadow: 1px 1px 38px lightgreen;}

}
body{
    background: url("https://www.xtrafondos.com/en/descargar.php?id=3853&resolucion=3840x2400");
    background-size: cover;
    background-repeat: no-repeat;
}